<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support System</title>
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet.css')}}">
</head>

<style>
.titleFormat {
    display: inline-block;
    height: 100%;
    position: relative;
    left: 20px;
    vertical-align: middle;
}
.img {
  border-radius: 50%;
}
.res {
   /*margin: 0 auto;*/
   width: 200%;
   text-align: center;

}

</style>
<script>
    var header = "";
    header += "<div class=\"jumbotron professor\" id=\"jumbo\">";
    header += "<img alt=\"logo\" class=\"img\" src=\"{{url_for('static', filename='immigrationbackground.png')}}\" height=\"100\">";
    header += "<h2 id=\"titleofpage\" class=\"titleFormat\">ImmiConnect</h2>";

    header += "</div>"
    document.write(header);

</script>

<div class="programs-wrapper">
    <div class="col-md-10 col-md-offset-1 col-sm-12 jumbotron main">
        <div class="program col-md-12 clearfix">
            <div class="col-md-6 col-sm info-wrapper clearfix">
                <div id="results" class="res">
                    <h4> List of Mentors</h4>
	                	<script>
								var url = window.location.search;
								var query = url.substr(1);
								console.log(query.split("?"))
								names=query.split("?")[0];
								locations=query.split("?")[1]
								numbers=query.split("?")[2]
								dis=query.split("?")[3]

							
								var nameList=names.replace("Name=","").split(",")
								var numList=numbers.replace("Number=","").split(",")
								var locList=locations.replace("Location=","").split(",")
								var dislist=dis.replace("Dis=","").split(",")
								var result = {};
								for(var i=0;i<nameList.length;i++){
									document.write("Name: " + nameList[i].split("%20").join(" ") + "<br>" + "Phone Number: "+ numList[i]+  "<br>" + "Address: "+ locList[2*i].split("%20").join(" ")+","+locList[2*i+1]+ "<br>" + "Distance: " +dislist[i].split("%20").join(" ")+"<br>");
									var btn = document.createElement("BUTTON");
									btn.innerHTML="Connect"
  									document.getElementById("results").appendChild(btn);
  									btn.addEventListener ("click", function() {
 									 		alert("Connection Request Sent");
										});
  									document.write("<br> <br>");
								}
						 
						</script>
					<div></div>
                </div>
            </div>

</div>