<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support System for Immigrants!</title>
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet.css')}}">

</head>

<body>
<script>
    var header = "";
    header += "<div class=\"jumbotron professor\" id=\"jumbo\">";
    header += "<img alt=\"logo\" src=\"{{url_for('static', filename='immigrationbackground.png')}}\" height=\"100\">";
    header += "<h2 id=\"titleofpage\" class=\"set-manager\">ImmiConnect</h2>";

    header += "</div>"
    document.write(header);

</script>




<div></div>
Select your Language: 
<select class= "form-inline" id="languagesel">
    <option value=""></option>
    <option value="english">English</option>
    <option value="french">French</option>
    <option value="hindi">Hindi</option>
    <option value="persian">Persian</option>
    <option value ="russian">Russian</option>
    <option value ="spanish">Spanish</option>
</select>
<input type="button" value="Change the Language" onclick="GetSelectedTextValue()" />
<script type="text/javascript">

    var selectedValue; 
    function GetSelectedTextValue() {
        var langval = document.getElementById("languagesel");
        var selectedText = langval.options[langval.selectedIndex].innerHTML;
        selectedValue = langval.value;
        translateElement(selectedValue,"locationid");
        translateElement(selectedValue,"genderid");
        translateElement(selectedValue,"questionid");
        translateElement(selectedValue,"unit");
        translateElement(selectedValue,"categoryid");
        translateElement(selectedValue,"titleofpage");
        translateElement(selectedValue,"mentortitle");
        translateElement(selectedValue,"fmbutton");



    }
    function GetAnswers() {
        // window.location = "listofmentors";
        var locationstring = document.getElementById("answer").value
        var genderans = document.getElementById("unit")
        var gendertext = genderans.options[genderans.selectedIndex].innerHTML;
        var genderval = genderans.value;
        var categoryans = document.getElementById("categoryid")
        var categorytext = categoryans.options[categoryans.selectedIndex].innerHTML;
        var categoryval = categoryans.value;

        var user = {"language": selectedValue, "gender": genderval, "location": locationstring, "tags": categoryval};

        $.post("/receiver", JSON.stringify(user), function(err,req,resp){
            console.log(JSON.parse(resp.responseText));
            var results=JSON.parse(resp.responseText);
            var namearr = []
            var addressarr = []
            var numberarr = []
            var disarr = []
            var arrayLength = results.length; 
            for (var i = 0; i < arrayLength; i++) {
                var name = results[i]["name"]
                namearr.push(name)
                var address = results[i]["address"]
                addressarr.push(address)
                var number = results[i]["phone"]
                numberarr.push(number)
                var dis=results[i]["distance"]
                disarr.push(dis)
                
            }
            console.log(disarr);
            //for (var i = 0; i < namearr.length; i++) {
            var queryString = "?Name=" + namearr
            var queryString1 = "?Location=" + addressarr
            var queryString2 = "?Number=" + numberarr
            var queryString3 = "?Dis=" + disarr
            window.location = "listofmentors" + queryString + queryString1 + queryString2+ queryString3;

            //};
        // window.onload = function() {
        //     var getInput = prompt("Hey type something here: ");
        //     localStorage.setItem("storageName",getInput);
        // }

        });
        event.preventDefault();

    }

</script>





    <br><br>
    <div class="container q-table">



        <!-- button to access new question modal -->
        <a class="btn btn-default add-q" role="button" data-toggle="modal"
           style="margin-top: 15px;" data-target="#newQ" id="mentortitle">Find Your Mentor</a>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="newQ" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Find Your Mentor
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                        <div class="form-group">
                            <div class="set-question set-question-input">
                                <label id="locationid" for="question">What's your location? (City, State)</label>
                                <input type="text" class="form-control" id="answer"
                                       name="qname" value="" />

                            </div>
                        </div>
                            <label id="genderid" for="gender">Gender Preference</label>
                            <select id="unit">
                                <option value=""></option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="No Preference">No Preference</option>
                            </select>
                            <div></div>
                            <label id="questionid" for="gender">What is your question?</label>
                            <select id="categoryid">
                                <option value=""></option>
                                <option value ="Finance">Finance</option>
                                <option value ="Religious">Religious</option>
                                <option value ="Medical">Medical</option>
                                <option value ="Real Estate">Real Estate</option>
                                <option value ="Immigration">Immigration</option>
                                <option value ="Career">Career</option>
                                <option value ="Education">Education</option>
                                <option value ="Car">Car</option>
                                <option value ="Housing">Housing</option>
                                <option value ="General">General</option>
                            </select>
                        </div>
                        <div></div>
                            <input  type="button" id = "fmbutton" value="Find Mentor" onclick="GetAnswers()" />

                            
                            <!-- <button href="listofmentors.html" type="submit" class="button">Cancel</button> -->
<!--                             <p><a href="listofmentors.html" class="btn btn-primary" role="button">Cancel</a></p> -->

                        </div>
                </div>

                </div>
            </div>
        </div>
    </div>

    <script>
    languages=["english","spanish","persian","russian","french","hindi"]
    codes=["en","es","fa","ru","fr","hi"];
    function translateElement(lang, elemID){
        /*
        lang=language code
        elemId=element id
        */
        var x = document.getElementById(elemID).innerHTML;
        l=codes[languages.indexOf(lang.toLowerCase())]
        var postRequest=new XMLHttpRequest();
        postRequest.open('POST', 'https://translation.googleapis.com/language/translate/v2?key=AIzaSyAIDJxS6sp_j8PJNk7y0RapKInxDBJkIz8&q='+x+'&target='+l, true);
        postRequest.onload = function () {
          var data = JSON.parse(this.response);
          if (postRequest.status >= 200 && postRequest.status < 400) {
            document.getElementById(elemID).innerHTML=data['data']['translations'][0]['translatedText'];
          }else {
            console.log('error');
          }
        }
        postRequest.send();
    }






</script>
